# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
/includes/
/misc/
/modules/
/nbproject/
/profiles/
/scripts/
/sites/default/default.settings.php
/sites/README.txt
/sites/example.sites.php
!/sites/default/files/
/sites/default/files/.htaccess
/.htaccess
/CHANGELOG.txt
/LICENSE.txt
/web.config
/phpinfo.php
/INSTALL.txt
/robots.txt
/update.php
/xmlrpc.php
/COPYRIGHT.txt
/MAINTAINERS.txt
/INSTALL.mysql.txt
/install.php
/index.php
/README.txt
/INSTALL.sqlite.txt
/UPGRADE.txt
/errlog.txt
/INSTALL.pgsql.txt
/cron.php
/authorize.php
/themes/
/sites/all/fonts/
/sites/all/themes/README.txt
!/sites/all/modules/**
/sites/all/modules/README.txt
/sites/all/modules/apachesolr/
/sites/all/modules/google_analytics/
/sites/all/modules/ctools/
/sites/all/modules/admin_menu/
/sites/all/modules/pathauto/
/sites/all/modules/smtp/
/sites/all/modules/imageapi/
/sites/all/modules/views/
/sites/all/modules/token/

Thumbs.db

# data-rich sub-projects, ignore them for now:
/sites/all/classes/HSPON/
/sites/all/modules/hapebe_spon/
/sites/all/modules/spiegel-online/
/sites/default/files/hspon/**

/sites/all/modules/hapebe_img_analytics/package/
